<script>
    var environment = "prod"
    if (window.location.hostname === "localhost") {
        environment = "local"
    }
    !(function (c, b, d, a) {
        c[a] || (c[a] = {}); c[a].config = { pid: "{{ .Site.Params.armsPid }}", appType: "web", imgUrl: "https://arms-retcode.aliyuncs.com/r.png?", sendResource: true, enableLinkTrace: true, behavior: true, environment: environment };
        with (b) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin", "", src = d)
    })(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
</script>
